/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input::placeholder {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Pretendard', '-apple-system', 'BlinkMacSystemFont',system-ui, 'Roboto' ,'Helvetica Neue ','Segoe UI','Apple SD Gothic Neo','Noto Sans KR','Malgun Gothic','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* index.css */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    flex-direction: row;
}

h6{
    display: inline;
    font-size: 14px;
    font-weight: 500;
}

.fa-solid .fa-regular{
    font-family: Font Awesome\ 6 Pro;
    font-weight: 900;
    font-size: 0.65rem;
    cursor: pointer;
}

/* 텍스트 관련  */
a{
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.a_checked{
    font-size: 14px;
    color: #1b1c1d;
    font-weight: 700;
}

.a_unchecked{
    font-size: 14px;
    color: #858a8d;
    font-weight: 500;
}

/* Top */
header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #f1f3f5; 
}

#header_wrapper{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#header_left{
    display: flex;
    flex-direction: row;
}

.btn_svg{
    margin-right: 4px;
}

#header_divider{
    margin: 0 10px;
}

#nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    z-index: 75;
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 81% / 50%);
}

#nav_logo{
    height: 100%;
}

#nav_bar{
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav_bar_left{
    height: 100%;

    display: flex;
    flex-direction: row;
}

#nav_bar_right{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.a_nav{
    padding: 8px 16px;
    color: #4a4a4a;
}

#nav_search{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: none;
    background: #f6f6f6;
    color: #5f5f5f;
    border: 1px solid transparent;

    font-size: 1rem;
}

#nav_search:hover{
    border-color: #b5b5b5;
}

#nav_search:focus{
    outline:.04rem auto #1dc078;
    box-shadow: 0 0 0 0.125em rgb(29 192 120 / 25%);;
}

#nav_search_div{
    position: relative;
    width: 140px;
    height: 34px;
    margin: 8px 20px;
}

.search_icon{
    position: absolute;
    top: 10px;
    right: 5px;
    margin: 0;
    cursor: pointer;
}

#nav_search_icon{
     width: 20px;
}

.button{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.button_orange{
    background-color: #ff7867;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
    cursor: pointer;
}

/* Main */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main - 메인 배너 */
#main_banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f1f3f5; 
}

#main_banner_swiper{
    width: 100%;
    height: 320px;
    background-color: #00d078;
}

.swiper-slide {
    box-sizing:border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide-wrapper{
    width: 1200px;
    justify-content: space-between;
}

.swiper-slide-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5%;
}

#main_banner_swiper img{
    height: 100%;
    object-fit: cover;
}

#main_banner_indicator{
    height: 64px;
}

.swiper-tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    width: fit-content;
    height: 24px;
    border-radius: 4px;

    font-size: .875rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.swiper-title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 8px;
}

.swiper-content{
    font-size: 1rem;
    line-height: 1.5;
}

.main_banner_indicator_wrapper{
    justify-content: start;
    align-items: center;
}

#main_banner_pagination_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
    width: 110px;
    height: 36px;
    font-size: .875rem;
    color: #fff;
    border-radius: 20px;
    background-color: rgba(0,0,0,.5);
}

#main_banner_pagination_idx{
    display: block;
    box-sizing: inherit;
    font-size: .875rem;
        
}

#main_banner_pagination_button_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
}

.divider{
    margin: 0 1rem;
    width: 1px;
    height: 36px;
    background-color: #dee2e6;
}

#main_banner_buttons_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_banner_button{
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: .875rem;
    font-weight: 700;

    color: #495057;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #ced4da;
    background-color: #fff;

    margin-left: 8px;
    cursor: pointer;
}

.main_banner_button:active, .main_banner_button_checked{
    color: #00c471;
    box-shadow: inset 0 0 0 2px #00c471
}

.button_toggle{
    font-size: 1rem;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
    cursor: pointer;

    margin-left: auto;
}

/* Main - 검색 */
#main_search{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 48px;
    margin-bottom: 24px;
}

#main_search_title{
    font-weight: 400;
    font-size:  1.5rem;
    line-height: 1.125;
    margin-bottom: 20px;
}

#main_search_input_wrapper{
    max-width: 580px;
    width: 100%;
    position: relative;
}

#main_search_input{
    max-width: 100%;
    width: 100%;
    height: auto;

    background-color: rgba(29,192,120,.12);
    border: 1px solid rgba(29,192,120,.24);
   
    padding: 14px 20px;
    border-radius: 28px;
    transition: all .2s ease;

    box-sizing: border-box;
    display: inline-flex;
    font-size: 1rem;
    justify-content: flex-start;
    line-height: 1.5;
}

#main_search_input::placeholder{
    color: rgba(12, 95, 58, 0.3);
}

#main_search_input:focus{
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border: 1px solid rgb(0 0 0 / 10%);
}

#main_search_icon{
     width: 24px;
     top: 15px;
     right: 20px;
}

#main_search_tag{
    padding: 0;
    width: 580px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 10px 0 24px 0;
}

.main_search_tag{
    cursor: pointer;
   
    font-size: 12px;
    margin: 4px;
    padding: 0 12px;
    height: 28px;
    line-height: 28px;

    color: #3e4042;
    font-weight: 500;
    border-radius: 20px;
    background: #f1f3f5;
}

/* Main - 강의 */
#main_lecture{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.main_lecture{
    padding: 24px 0;
    border: 1px solid violet;
}

/* Main - 리뷰 */
#main_review{
    width: 1200px;
    height: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: aquamarine;
}

#main_review_left{
    width: 500px;
    border: 1px solid green;
}

#main_review_right{
    width: 500px;
    border: 1px solid green;
}

/* Main - 하단 배너 */
#main_bottom_banner{
    width: 100%;
    height: 182px;
    margin: 24px 0;
    border: 1px solid rebeccapurple;
}

/* Main - 기업 */
#main_corporation{
    width: 100%;
    height: 104px;
    padding: 64px 0 44px;
    background-color: skyblue;
}

/* Main - 서비스 */
#main_apply{
    width: 100%;
    height: 480px;
    background-color: #f9f9f9;
}

/* Footer */
footer{
    width: 100%;
    height: 440px;
   background-color: #303740;;
}