.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}

.course_header h1 {
  margin-right: 10px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
}

.course_header span {
  color: #fa4c3d;
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
}

.course_header p {
  font-weight: 400;
  color: #757575;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-top: 4px;
  margin-bottom: 16px;
}

.course_contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 6px 0;
  margin-bottom: 40px;
}

/* Lecture */
.lecture_root {
  box-sizing: border-box;
  width: 25%;
  padding: 0.75rem;
}

.lecture {
  width: 100%;
  height: 100%;
  position: relative;
}

.lecture img,
.roadmap img,
.read img {
  width: 100%;
}

.lecture_title {
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.5em;
  height: 3rem;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.lecture_producer {
  color: #7d7d7d;
  font-size: 0.9rem;
}

.lecture_ratings {
  display: flex;
  flex-direction: row;
}

.lecture_ratings_stars {
  display: inline-flex;
  flex-direction: row;
}

.lecture_ratings_number {
  font-size: 0.5rem;
  color: #4a4a4a;
}

.lecture_price {
  font-weight: 700;
  color: #175cbe;
}

.lecture_tags {
  display: flex;
  padding-top: 8px;
}

.lecture_tag {
  height: 2em;

  background-color: #fff;
  border-radius: 4px;
  color: #454545;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 0.75rem;
  padding: 0 0.75em;

  cursor: pointer;

  margin-right: 0.5rem;
}

.lecture_price del {
  color: #595959;
  font-weight: 500;
  font-size: 0.9rem;
  opacity: 0.75;
}

.lecture_back {
  padding: 0.75em;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 13px;

  display: flex;
  flex-direction: column;
}

.lecture_back .lecture_title {
  font-size: 0.95rem;
  line-height: 1.5;
  font-weight: 700;
  padding-right: 10px;
  margin-bottom: 8px;
}

.lecture_back img {
  width: 16px;
  height: 16px;
  margin-right: 0.5em;
}

.lecture_back .lecture_meta {
  width: 95%;
  height: fit-content;

  display: flex;
  align-items: flex-start;

  text-overflow: ellipsis;
  color: #c5ebf8;
  line-height: 1.5;
  font-size: 13px;

  margin-bottom: 0.07rem;
}

.lecture_back .lecture_extra {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.lecture_back .tooltip {
  position: relative;
  display: block;
}

.tooltiptext {
  visibility: hidden;

  position: absolute;
  right: 105%;
  z-index: 1;

  color: #454545;
  background-color: rgba(255, 221, 87, 0.9);
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  max-width: 24rem;

  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.75rem;

  margin-right: 10px;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 5px;

  top: 50%;
  left: 100%;
  margin-top: -5px;

  border-color: transparent transparent transparent rgba(255, 221, 87, 0.9);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip_plus .tooltiptext {
  bottom: 0;
}

.tooltip_like .tooltiptext {
  top: 50%;
  transform: translate(0, -50%);
}

/* Roadmap */
.roadmap {
  height: 100%;
  position: relative;
  width: 290.5px;
  margin-right: 6px;
}

.roadmap_title {
  font-weight: 700;
  line-height: 1.125em;
  font-size: 0.95rem;
  margin-bottom: 0.8888em;
  padding: 24px;
}

/* Read */
.read {
  position: relative;
  height: 100%;
  margin: 4px;
  max-width: 32.2%;
  width: 100%;
}

.read img {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  margin-bottom: 20px;
}

.read_title {
  margin-bottom: 4px;
  color: #333;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.read_text {
  font-size: 1rem;
  color: #595959;
  word-wrap: break-word;
  height: 3rem;
  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
