#nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 75;
  box-shadow: 0 2px 4px 0 hsl(0deg 0% 81% / 50%);
}

#nav_logo {
  height: 100%;
}

#nav_bar {
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav_bar_left {
  height: 100%;

  display: flex;
  flex-direction: row;
}

#nav_bar_right {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.a_nav {
  padding: 8px 16px;
  color: #4a4a4a;
}

#nav_search {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: none;
  background: #f6f6f6;
  color: #5f5f5f;
  border: 1px solid transparent;

  padding: calc(0.375em - 1px) calc(0.625em - 1px);
  box-sizing: border-box;
  font-size: 1rem;
}

#nav_search:hover {
  border-color: #b5b5b5;
}

#nav_search:focus {
  outline: 0.04rem auto #1dc078;
  box-shadow: 0 0 0 0.125em rgb(29 192 120 / 25%);
}

#nav_search_div {
  position: relative;
  width: 140px;
  height: 34px;
  margin: 8px 20px;
}

.search_icon {
  position: absolute;
  top: 8px;
  right: 5px;
  margin: 0;
  cursor: pointer;
}

#nav_search_icon {
  width: 20px;
}

/* 로그인 모달 */
#login-modal {
  padding: 24px;
  margin: auto;
  width: 320px !important;
  height: 400px;
  background-color: #fff;
  border-radius: 6px;
  z-index: 10;
  color: #000a12;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-close {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

.header-logo {
  display: flex;
  align-items: center;
  margin: 12px 0 24px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrap {
  padding: 13px 12px;
  width: 312px !important;
  height: 48px;

  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  line-height: 15px;

  margin-bottom: 12px !important;

  display: flex;
  flex-direction: row;
}

.inputWrap:focus-within {
  border-color: #00c471;
}

.input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;

  font-size: 15px;
  letter-spacing: -0.3px;
}

.input::placeholder {
  color: #dee2e6;
}

.input img {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.loginButton {
  margin: 12px 0 !important;
  width: 312px;
  height: 48px;

  border: 1px solid #00c471;
  color: #fff;
  background-color: #00c471;

  line-height: 14;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.3px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  cursor: pointer;
}

.mores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 8px;
  margin-bottom: 24px;
}

.mores span {
  line-height: 1.38;
  letter-spacing: -0.3px;
  font-size: 13px;
  font-weight: 400;
  color: #616568;
  border-bottom: 1px solid #858a8d;
  cursor: pointer;
  margin-right: 4px;
}

#signUp::after {
  position: relative;
  right: 55px;
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #858a8d;
  content: " ";
  pointer-events: none;
}

#signUp {
  margin-left: 16px;
}

.socials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials hr {
  position: relative;
  bottom: -8px;
  display: block;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #f1f3f5;
  border: none;
}

.socials span {
  padding: 0 8px;
  margin-bottom: 16px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #abb0b5;
  z-index: 11;
  background-color: #fff;
}

.socials-icons {
  display: flex;
  flex-direction: row;
  margin: auto;
  column-gap: 12px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
}
